<h3 class="text-center">Sneakers for Sale</h3>

<%= link_to "New Sneakers", new_product_path %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <table class="table">
      <tr>
        <th> brand</th>
        <th> model</th>
        <th> size</th>
        <th> quantity</th>
        <th> image</th>
        <th> price</th>
        <th> release_date</th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.brand%></td>
      <td><%= product.model%></td>
      <td><%= product.size%></td>
      <td><%= product.quantity%></td>
      <td><%= product.image%></td>
      <td><%= product.price%></td>
      <td><%= product.release_date%></td>
       <td>
       	<%= link_to "edit", edit_product_path(product)%>
       <%= link_to "Delete", product_path(product), method: :delete %>
       </td>
    </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>
